.container {
    left: 0;
    right: 0;
    width: 100%;
}

.intro {

    color: white;

    text-align: center;
    padding-bottom: 150px;
}

.overlay {
    background-image: url('assets/backgrounds/h_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    line-height: 20px;
    /*background: rgba(0, 0, 0, 0.1);*/
}

#top_logo {
    padding-left: 120px
}

#bottom_logo {}

/*p {
    margin-top: 3%;
    font-weight: bold;
}*/

.about {
    text-align: center;
    padding: 2%;
}

.about h1{
    margin-top: -100px;
}

.services {
    background-image: url('assets/backgrounds/s_image.jpg');
    background-position: fixed;
    background-repeat: no-repeat;
    color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
body{
    font-size: 20px;
}


