.container{
    left: 0;
    right: 0;
    width: 100%;
}
.intro{
    background-image: url('assets/backgrounds/h_img.jpg');
    background-repeat: no-repeat;
    color: white;
    left: 0;
    right: 0;
    top: 0;
    /* bottom: 0; */
}
#overlay{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.1);
    background-size: cover;
    background-repeat:no-repeat;
    padding: 20%;
}
#top_logo{
    margin-bottom: 4%;
}

#bottom_logo{
    margin-top: 14%;
}

p{
    margin-top: 3%;
    font-weight: bold;
}
.about{
    text-align: center;
    float:right;
    bottom: 0%;
    top: 2%;
}
.services{
    background-image: url('assets/backgrounds/s_image.jpg');
}